* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* ------------------------------- CONTAINER -------------------------------------*/

#container {
  width: 100%;
  max-width: 538px;
  height: 100vh;
  background: linear-gradient(150deg, #f86161, #e92f2f);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0 0 40px 30px rgba(0, 0, 0, 0.14);
}

/* ----------------------------------- TEAM 1 vs TEAM 2 header --------------------------------------- */

#match-name {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.team-name {
  color: white;
  font-size: 1.6rem;
}

#vs {
  color: whitesmoke;
  font-size: 1.3rem;
}

.details {
  color: white;
  font-size: 12px;
}

/* ------------------------------------- SCORECARD -------------------------------------------------*/

#scorecard {
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  height: 85px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 28px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
}

#toss-details {
  margin-bottom: 4%;
}

#extras-details {
  margin-top: 4%;
}

#score-plus-overs {
  text-align: left;
}

#team-plus-runrate {
  text-align: right;
}

.top {
  font-weight: bold;
  font-size: 1.6rem;
}

.bottom {
  font-weight: 400;
  font-size: 0.5rem;
  color: whitesmoke;
}

#opponent-score {
  color: white;
  font-weight: 600;
}

/* ----------------------------- BOWLING DETAILS -------------------------------------------------- */

#bowling-details-container {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.33),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

#bowling-details {
  width: 200%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#bowling-details li {
  color: #666;
  border: 3px solid #fff;
  background-color: #eaebec;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.35em;
  height: 2.35em;
  font-weight: 600;
}

/* ------------------------ BUTTONS CONTAINER ---------------------------------------------- */

#buttons-background {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 35px 35px 20px 20px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
  display: flex;
}

#buttons-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
}

.score-button {
  background-color: #eaebec;
  color: #242424;
  width: 85px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.93rem;
  border: 1px solid lightgrey;
  flex-grow: 1;
}

#btn-wicket {
  background-color: #e92f2f;
  color: white;
}

#btn-undo {
  background-color: black;
  color: white;
}
