* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 539px) {
  .bg {
    background-image: url("/resources/cricket\ doodle.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.85;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}

/* --------------------------------------------- CONTAINER ----------------------------------------------*/

.container {
  width: 100%;
  max-width: 538px;
  min-width: 320px;
  height: 100vh;
  background: linear-gradient(150deg, #f86161, #e92f2f);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0 0 40px 30px rgba(0, 0, 0, 0.14);
}

/* ----------------------------------- TEAM 1 vs TEAM 2 header --------------------------------------- */

.match-name {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 7.5%;
}

.team-name {
  color: white;
  font-size: 1.8rem;
}

.vs {
  color: whitesmoke;
  font-size: 1.3rem;
}

.details {
  color: white;
  font-size: 0.9rem;
}

@media (min-width: 539px) {
  .team-name {
    font-size: 2.3rem;
  }

  .vs {
    font-size: 1.6rem;
  }

  .details {
    font-size: 1rem;
  }
}

/* ------------------------------------- SCORECARD -------------------------------------------------*/

.scorecard {
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  height: 92px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 28px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
}

#toss-details {
  margin-bottom: 4%;
}

#extras-details {
  margin-top: 4%;
}

.score-plus-overs {
  text-align: left;
}

.team-plus-runrate {
  text-align: right;
}

.top {
  font-weight: bold;
  font-size: 1.6rem;
}

.bottom {
  font-weight: 400;
  font-size: 0.7rem;
  color: whitesmoke;
}

#opponent-score {
  color: white;
  font-weight: 600;
}

@media (min-width: 539px) {
  .scorecard {
    height: 100px;
  }

  .top {
    font-size: 1.8rem;
  }

  .bottom {
    font-size: 0.9rem;
  }

  #opponent-score {
    font-size: 1.25rem;
  }
}

/* ----------------------------- BOWLING DETAILS -------------------------------------------------- */

.bowling-details-container {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.33),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.bowling-details {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bowling-details li {
  color: #666;
  border: 3px solid #fff;
  background-color: #eaebec;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.35em;
  height: 2.35em;
  font-weight: 600;
}

@media (min-width: 539px) {
  .bowling-details-container {
    height: 75px;
  }
}

/* ------------------------ BUTTONS CONTAINER ---------------------------------------------- */

.buttons-background {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 35px 35px 0 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
  display: flex;
}

.buttons-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
}

.button {
  background-color: #eaebec;
  color: #242424;
  width: 85px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.93rem;
  border: 1px solid lightgrey;
  flex-grow: 1;
}

.button:not(.exclude-hover):hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  border: 2px solid #bfbfbf;
}

#btn-wicket {
  background-color: #e92f2f;
  color: white;
}

#btn-wicket:hover,
#btn-undo:hover {
  cursor: pointer;
}

#btn-undo {
  background-color: black;
  color: white;
}

/* ---------------------------- myModal------------------------ */

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f2f2f2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 20px;
  font-weight: 600;
}

.modal-content p {
  font-size: 1rem;
}

#inputField {
  font-size: 1rem;
  margin: 8% 0;
  padding: 2%;
}

.btn-submit {
  padding: 3%;
  width: 90%;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-weight: 600;
}

.button:hover {
  background-color: #242424;
}

.close {
  float: right;
  cursor: pointer;
  scale: 1.5;
}

.close:hover {
  color: #e92f2f;
}

@media (min-width: 539px) {
  .button {
    font-size: 1.1rem;
  }
}
